.rendererDiv {
  position: relative;
}

.baseCanvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.stackedCanvas {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
