.controlsHolder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  pointer-events: none;
}

.controlsBox {
  display: flex;
}

.save {
  margin-top: 0.5rem;
  background: var(--mineshaft);
  padding: 0.25rem;
  border: 0.15rem;
  border-color: var(--primary-light);
  border-style: solid;
  border-radius: 5px;
  pointer-events: auto;
  color: var(--primary-light);
}

.brushSettings {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background: var(--mineshaft);
  padding: 0.25rem;
  border: 0.15rem;
  border-color: var(--primary-light);
  border-style: solid;
  border-radius: 5px;
  pointer-events: auto;
}

.canvasHolder {
  display: flex;
}

.rendererDiv {
  display: flex;
  position: relative;
}

.baseCanvas {
  image-rendering: pixelated;
}

.stackedCanvas {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
}
